@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.basic-align {
    text-align: center;
    Width:70%;
    margin:0 10% 0 10%;
}
/* mat-form-field-infix {
  width: 480px;
} */
mat-form-field {
  width: 100%;
  }
  .fmt-result {
    font-weight: bolder;
    padding:5px;
  }
  mat-grid-tile {
    background: lightgray;
  }
  .sim-lnk {
    margin: 20px;
    text-decoration: none;
    padding: 20px;
}